<div class="container">
    <h1 class="mt-4">Candidatos a Papa - 2025</h1>
        <div class = "card" style="width: 18rem;", *ngFor="let candidato of candidatos" (click)="seleccionarCandidato(candidato)">
            <img src = {{candidato.foto}}, class = "card-img-top", alt = "candidato.nombre"/>
            <div class = "card-body">
                <h2 >{{candidato.nombre}} </h2>
                <h4> {{candidato.vertiente_religiosa}}</h4>
                <h4>Edad: {{candidato.edad}}</h4>
                <h4>Pais: {{candidato.pais_origen}}</h4>

            </div>

        </div>
    <app-candidatos-detail *ngIf="candidatoSeleccionado" [candidato]="candidatoSeleccionado"></app-candidatos-detail>
</div>
